<head>
	
<script src ="https://apis.google.com/js/platform.js"> </script>
	
</head>

<div>
	
	
	
</div>
<div class = "g-savetodrive" data-src="/images/my-image.jpg" data-filename="n24.jpg" data-sitename="Noticias24">
</div>
