<!DOCTYPE html>
<html>
<head>
  <title>Cuentas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>This is an initial test, don't panic'</p>
<%= yield %>

</body>
</html>
